.order-info {
    max-width: 688px;
    margin: 0 auto;
    margin-bottom: 156px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        margin-bottom: 80px;

        .basket__item {
            padding-right: 0;
        }

        .basket__price-wrapper {
            margin-left: auto
        }
    }

    @media (max-width: $maxMobWidth) {
        max-width: none;
        margin-bottom: 80px;

        .basket__price {
            margin-left: -60px;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: $maxMobWidth) {
            padding: 0 40px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 242px 1fr 170px;
        column-gap: 44px;
        row-gap: 32px;
        margin-bottom: 32px;
        padding: 32px 0;
        border-top: 1px solid #535353;
        border-bottom: 1px solid #535353;

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            padding: 16px 0;
            row-gap: 16px;
            margin-bottom: 16px;
        }
    }

    &__name {
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        @media (max-width: $maxMobWidth) {
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
        }
    }

    &__payment-status {
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;

        &--not {
            padding-right: 28px;
            color: #FF0000;

            &::before {
                position: absolute;
                top: 50%;
                right: 0;
                width: 16px;
                height: 16px;
                background: url('../assets/img/ico.svg') no-repeat center right;
                transform: translateY(-50%);
                content: "";
            }
        }

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__btn {
        width: 272px;
        margin: 0 auto;

        @media (max-width: $maxMobWidth) {
            width: 100%;
        }
    }
}
