.thanks-for-order {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 48px;

    @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
        max-width: 744px;
    }

    @media (max-width: $maxMobWidth) {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            padding: 0 24px;
        }

        @media (max-width: $maxMobWidth) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
    }

    &__item {
        padding-top: 162px;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        text-align: center;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
        }

        &:nth-child(1) {
            max-width: 301px;
            background: url('../assets/img/thanks-for-order/phone.svg') no-repeat top center;

            @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
                max-width: 179px;
            }
        }

        &:nth-child(2) {
            max-width: 329px;
            margin-left: -72px;
            background: url('../assets/img/thanks-for-order/computer.svg') no-repeat top center;

            @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
                max-width: 185px;
                margin-left: -15px;
            }

            @media (max-width: $maxMobWidth) {
                margin: 0;
            }
        }

        &:nth-child(3) {
            max-width: 257px;
            background: url('../assets/img/thanks-for-order/mail.svg') no-repeat top center;

            @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
                max-width: 119px;
            }
        }
    }
}
