.blog {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        padding: 0 24px;
    }

    @media (max-width: $maxTabletWidth) {
        margin-bottom: 80px;
    }
}
