.decorative {
    position: absolute;
    right: 0;
    z-index: -2;
    width: 209px;
    height: 623px;
    background: url('../assets/img/main-decorative.webp') no-repeat;

    @media (max-width: $maxMobWidth) {
        display: none;
        background: none;
    }

    &__right {
        right: 0;

        &--main {
            &-top {
                top: 394px;
            }

            &-middle {
                top: 3172px;
            }

            &-bottom {
                bottom: 782px;
            }
        }

        &--bottom {
            bottom: 10px;
            right: 0px;
            width: 366px;
            height: 502px;
            background-image: url('../assets/img/footer-rose.svg');

            @media (max-width: $maxMobWidth) {
                display: none;
                background: none;
            }
        }

        &--product {
            top: 2879px;
        }

        &--favorites {
            top: 111px;
        }

        &--making-order {
            top: 223px;
        }

        &--webinar {
            &-middle {
                top: 2540px;
            }

            &-bottom {
                bottom: 1453px;
            }
        }
    }

    &__left {
        left: 0;
        background: url('../assets/img/decorative-left.webp') no-repeat;

        @media (max-width: $maxMobWidth) {
            display: none;
            background: none;
        }

        &--main {
            &-top {
                top: 1467px;
            }

            &-middle {
                bottom: 2249px;
            }
        }

        &--basket {
            bottom: 73px;
        }

        &--favorites {
            top: 734px;
        }

        &--making-order {
            top: 1012px;
        }

        &--delivery {
            top: 444px;
        }

        &--contacts {
            top: 702px;
        }

        &--webinar {
            &-middle {
                top: 3613px;
            }

            &-bottom {
                bottom: 380px;
            }
        }

        &--pa {
            bottom: 233px;
        }
    }

}
