$maxMobWidth: 743px;
$minMobWidth: 360px;

@font-face {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/tenor-sans.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/montserrat300.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/montserrat400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/montserrat500.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/montserrat700.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

html {
    height: 1px;
    min-height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.body__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;

    @media (max-width: $maxMobWidth) {
        min-width: $minMobWidth;
        padding: 0 8px;
        margin: 0 auto;
    }

    @media (min-width: 1408px) {
        min-width: 1408px;
    }
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section__title {
    margin-bottom: 48px;
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;

    &--smaller {
        margin-bottom: 48px;
        font-size: 32px;
        line-height: 37px;
    }

    @media (max-width: $maxMobWidth) {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
}
