.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 32px;

    &__substrate {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .8;
    }

    &__content {
        position: relative;
        z-index: 101;
        display: grid;
        align-content: center;
        justify-items: center;
        gap: 32px;
        width: 420px;
        height: 100%;
        max-height: 1080px;
        padding: 32px;
        background-color: #FFF;
    }

    &__close {
        position: relative;
        width: 28px;
        height: 28px;
        margin-bottom: 8px;
        border: none;
        background: url('../assets/img/modal-close.svg') no-repeat center;
        background-size: 28px;
        cursor: pointer;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
    }

    &__descr {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

    &__form {
        display: grid;
        gap: 16px;
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 12px;
        background: #fff;
        outline: 2px solid transparent;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #4f4f4f;
        text-align: center;

        transition: outline-color .4s;

        &:hover {
            outline: 2px solid #000;
        }
    }

    &__textarea {
        height: 120px;
        width: 356px;
        padding: 16px;
        outline: 2px solid transparent;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        transition: outline-color .4s;
        resize: none;

        &:hover {
            outline: 2px solid #000;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #E9E9E9;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #F08597;
            border-radius: 100px;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__grade {
        display: flex;
    }

    .basket__buy {
        margin-top: 0;
    }

    &__checkbox {
        &-wrapper {
            display: flex;
            align-items: flex-start;

            &--aic {
                align-items: center;
            }
        }

        &__mark {
            position: relative;
            min-width: 16px;
            min-height: 16px;
            margin-right: 12px;
            border: 1px solid #888888;
            border-radius: 2px;
            cursor: pointer;
        }

        &__text {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;

            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    font-weight: 500;
                }
            }
        }
    }

    &__btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        button {
            margin: 0;
        }
    }

    &__radio-wrapper {
        display: grid;
        gap: 16px;

        .log-in__radio-wrapper {
            justify-content: flex-start;
            gap: 82px;
        }
    }

    &__radio {
        display: flex;
        align-items: center;
        font-weight: 500;

        &-error {
            margin-left: 48px;
            color: #FF0000;
        }
    }



    // &--call {
    //     min-height: 700px;

    //     .modal__content {
    //         min-height: 600px;
    //     }
    // }

    &--partner {
        // min-height: 948px;

        // .modal__content {
        //     min-height: 884px;
        // }

        &__upload {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            border: 1px dashed #888888;
            border-radius: 6px;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            cursor: pointer;

            &-wrapper {
                display: grid;
                gap: 19px;
                font-weight: 300;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
            }
        }
    }

    &--1click {
        // min-height: 832px;

        // .modal__content {
        //     min-height: 768px;
        // }

        &__product {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 80px;
            min-height: 80px;
            border: 1px solid #E9E9E9;
            border-radius: 2px;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 80px 1fr;
            row-gap: 8px;
            column-gap: 44px;
        }

        &__name {
            grid-column: 1 / -1;
            font-weight: 300;
            font-size: 12px;
            line-height: 140%;
            color: #000000;
            text-decoration: none;
            cursor: pointer;
        }

        .products-count__input {
            height: 38px;
        }

        .products-count__btns {
            gap: 6px;
        }

        &__price {
            align-self: center;
            font-weight: 300;
            font-size: 20px;
            line-height: 160%;
        }
    }

    &--basket {
        // min-height: 708px;

        // .modal__content {
        //     min-height: 644px;
        // }

        &__total-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 16px;
            border-bottom: 1px solid #E9E9E9;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #000000;
            text-transform: uppercase;
        }

        .modal--1click__product {
            padding-bottom: 16px;
            border-bottom: 1px solid #E9E9E9;
        }
    }

    // &--review {
    //     min-height: 724px;

    //     .modal__content {
    //         min-height: 660px;
    //     }
    // }

    // &--vacancy {
    //     min-height: 554px;

    //     .modal__content {
    //         min-height: 490px;
    //     }
    // }

    &--education {
        // min-height: 930px;

        // .modal__content {
        //     min-height: 866px;
        // }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__item {
            display: flex;
            align-items: center;
            min-height: 24px;
            padding-left: 32px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            cursor: pointer;

            &--tg {
                background: url('../assets/img/telegram_ico.svg') no-repeat center left;
                background-size: 24px;
            }

            &--whatsapp {
                background: url('../assets/img/whatsapp_ico.svg') no-repeat center left;
                background-size: 24px;
            }

            &--skype {
                background: url('../assets/img/skype_ico.svg') no-repeat center left;
                background-size: 24px;
            }
        }

        &__checkbox {
            margin-right: 0;
            margin-left: 8px;
        }
    }

    // &--personal-data {
    //     min-height: 700px;

    //     .modal__content {
    //         min-height: 636px;
    //     }
    // }

    // &--delivery {
    //     min-height: 436px;

    //     .modal__content {
    //         min-height: 372px;
    //     }
    // }

    // &--delivery {
    //     min-height: 436px;

    //     .modal__content {
    //         min-height: 372px;
    //     }
    // }

    &--password {
        .data__password {
            padding-bottom: 0;
            border-bottom: none;
            border-top: 0;
        }

        .data-password__input {
            width: 315px;
        }

    }
}

.modal__checkbox:checked+.modal__checkbox__mark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f08597;
    border-radius: 1px;
    content: "";
}
