.slider {
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--category {
            margin-top: 17px;
        }

        &--reviews {
            margin-top: 20px;
        }
    }

    &__btn {
        width: 80px;
        height: 40px;
        border: none;
        background: url('../assets/img/arrow-slider.svg') no-repeat center;
        cursor: pointer;
        background-size: contain;

        &--prev {
            transform: rotate(180deg);
        }

        &--unactive {
            opacity: 0.5;
        }

        &--vertical {
            align-self: center;
            width: 24px;
            height: 24px;
            background: url('../assets/img/category/arrow.svg') no-repeat center;
            border: 0;
            transform: rotate(90deg);
            cursor: pointer;

            &--prev {
                transform: rotate(-90deg);
            }

            &--next {
                margin-bottom: 10px;
            }
        }
    }

    &__carousel {
        width: 1078px;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        margin-top: -15px;
        margin-left: -15px;
        overflow-x: hidden;

        &--vertical {
            width: 88px;
            height: 376px;
            padding: 0;
            overflow-x: visible;
            overflow-y: hidden;
        }
    }

    &__content {
        position: relative;
        left: 0px;
        transition: left 0.6s;

        &--vertical {
            top: 0px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            transition: top 0.6s;
        }
    }

    &__item {
        &--category {
            min-width: 328px;
        }

        &--reviews {
            min-width: 509px;
        }

        &--product {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 88px;
            height: 88px;
            background-color: #FFF;
            border: 1px solid #E9E9E9;
            border-radius: 2px;
            cursor: pointer;
        }
    }

    &--vertical {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 8px;
        width: 88px;
    }
}

ul.category__slider {
    display: flex;
    gap: 32px;
}

ul.reviews__slider {
    display: flex;
    gap: 30px;
    margin-bottom: 0;
}
