.delivery-payment {
    display: flex;
    flex-direction: column;
    max-width: 688px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) {
        margin-bottom: 80px;
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
            line-height: 15px;
        }
    }
}
