.webinar-about {
    width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        max-width: 1408px;
        width: 100%;
        margin-bottom: 80px;
        padding: 0 24px;
    }

    @media (max-width: $maxMobWidth) {
        width: 100%;
        margin-bottom: 80px;
    }

    &__title {
        text-align: left;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            text-align: center;
            margin-bottom: 40px;
        }

        @media (max-width: $maxMobWidth) {
            text-align: center;
        }
    }

    &__digits {
        margin-bottom: 120px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            .webinar-about__title {
                font-weight: 400;
                font-size: 28px;
                line-height: 33px;
                text-align: left;
            }
        }

        @media (max-width: $maxTabletWidth) {
            margin-bottom: 80px;
        }
    }
}

.webinar-digits {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 120px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            flex-wrap: nowrap;
            gap: 95px;
        }

        @media (max-width: $maxMobWidth) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 448px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            &:nth-child(2) {
                margin-top: -41px;
            }
        }
    }

    &__name {
        margin-bottom: 8px;
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        color: #F08597;

        @media (max-width: $maxMobWidth) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            font-size: 16px;
            line-height: 140%;
        }

        @media (max-width: $maxMobWidth) {
            font-size: 14px;
            line-height: 140%;
        }
    }

    &__link {
        margin-top: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #F08597;
        text-decoration: none;
    }
}

.webinar-descr {
    &__content {
        display: grid;
        grid-template-columns: 692px 688px;
        align-items: stretch;
        gap: 27px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
        }
    }

    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(270deg, #FFF1F4 0%, #F9F9F9 100%);
        border-radius: 4px;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            min-height: 260px;
        }

        @media (max-width: $maxMobWidth) {
            min-height: 390px;
        }
    }
}
