.webinar-autor {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        padding: 0 24px;
        margin-bottom: 80px;
    }

    &__title {
        text-align: left;

        @media (max-width: $maxMobWidth) {
            text-align: center;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 688px 688px;
        row-gap: 48px;
        column-gap: 32px;

        @media (max-width: $maxTabletWidth) {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

    }

    &__img {
        position: relative;
        top: 0;
        left: 0;
        align-self: flex-end;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            align-self: start;
        }

        @media (max-width: $maxMobWidth) {
            order: 0;
            margin-bottom: 16px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            margin-bottom: 80px;
        }
    }

    &__name {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            margin-bottom: 11px;
            font-size: 16px;
        }
    }

    &__portfolio {
        display: flex;
        gap: 16px;
        margin-bottom: 29px;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            margin-bottom: 32px;
            font-size: 12px;
        }

        a {
            font-weight: 500;
            color: #000;
            text-decoration: none;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

        @media (max-width: $maxMobWidth) {
            max-width: 500px;
            padding-right: 34px;
        }

        &-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: #000000;
            text-decoration: none;

            @media (max-width: $maxMobWidth) {
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
            }
        }

        li {
            display: flex;
            align-items: center;
            min-height: 32px;
            padding-left: 48px;

            @media (max-width: $maxMobWidth) {
                padding-left: 40px;
            }
        }
    }

    &__vk {
        background: url('../assets/img/vk-icon.svg') no-repeat center left;
        background-size: 32px;
    }

    &__inst {
        background: url('../assets/img/webinar/inst.svg') no-repeat center left;
        background-size: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 84px;
        row-gap: 32px;

        @media (max-width: $maxMobWidth) {
            column-gap: 16px;
            margin-bottom: 80px;
        }
    }

    &__item {
        padding-top: 96px;
        background: url('../assets/img/webinar/icon.svg') no-repeat top left;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        @media (max-width: $maxMobWidth) {
            padding-top: 90px;
            background-size: 74px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__banner {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 46px 64px;
        padding-bottom: 25px;
        background: linear-gradient(270deg, #FFF1F4 0%, #F9F9F9 100%);
        border-radius: 4px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: grid;
            grid-template-columns: 243px 272px;
            row-gap: 32px;
            column-gap: 72px;
            padding-left: 40px;
        }

        @media (max-width: $maxMobWidth) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            // max-width: 344px;
            // margin: 0 auto;
            padding: 24px;
            padding-bottom: 32px;
        }
    }

    &__advantages {
        display: grid;
        gap: 24px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            grid-column: 1 / -1;
        }

        li {
            padding-left: 56px;
            background: url('../assets/img/webinar/advantages.svg') no-repeat center left;
            font-weight: 300;
            font-size: 24px;
            line-height: 150%;

            @media (max-width: $maxMobWidth) {
                font-size: 16px;
            }
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 80px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            margin-bottom: -24px;
        }

        &-text {
            margin-bottom: -6px;
            font-size: 16px;
            line-height: 140%;
        }
    }
}
