.webinar-action {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 48px;
    background: linear-gradient(270deg, #FFF1F4 0%, #F9F9F9 100%);
    border-radius: 4px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        margin-bottom: 80px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 40px;
        padding-top: 24px;
        background: url('../assets/img/webinar/action.webp') no-repeat center left 289px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            position: relative;
            display: grid;
            grid-template-columns: 189px 1fr;
            align-items: flex-end;
            row-gap: 0;
            column-gap: 39px;
            background: none;

            &::after {
                position: absolute;
                z-index: 0;
                top: -24px;
                left: 40px;
                width: 184px;
                height: 206px;
                background: url('../assets/img/webinar/action.webp') no-repeat center;
                background-size: 184px 206px;
                content: "";
            }
        }

        @media (max-width: $maxMobWidth) {
            position: relative;
            flex-direction: column;
            gap: 8px;
            padding: 24px;
            padding-top: 143px;
            padding-bottom: 74px;
            background: none;

            &::after {
                position: absolute;
                top: -13px;
                right: 24px;
                width: 132px;
                height: 148px;
                background: url('../assets/img/webinar/action.webp') no-repeat center;
                content: "";
            }
        }
    }

    &__sale {
        display: flex;
        flex-direction: column;
        margin-right: 250px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            position: relative;
            z-index: 1;
            grid-row: 2 / 3;
            margin: 0;
        }

        @media (max-width: $maxMobWidth) {
            flex-direction: row-reverse;
            align-items: center;
            gap: 16px;
            margin: 0;
        }

        &-size {
            font-family: 'Tenor Sans';
            font-weight: 400;
            font-size: 100px;
            line-height: 117px;

            @media (max-width: $maxMobWidth) {
                flex-direction: row-reverse;
                gap: 24px;
                margin: 0;
            }
        }

        &-duration {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            @media (max-width: $maxMobWidth) {
                max-width: 92px;
            }
        }
    }

    &__info {
        display: grid;
        gap: 24px;
        max-width: 448px;
        margin-right: 120px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            position: relative;
            top: 57px;
            grid-column: 2 / -1;
            max-width: none;
            margin: 0;
        }

        @media (max-width: $maxMobWidth) {
            position: absolute;
            top: 24px;
            bottom: 24px;
            left: 24px;
            right: 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
        }
    }

    &__title {
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;

        @media (max-width: $maxMobWidth) {
            padding-right: 161px;
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            padding-right: 80px;
        }

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
            line-height: 140%;
        }
    }

    &__link {
        width: 272px;
        color: #000;
        text-decoration: none;
        text-align: center;
        margin: 0;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            grid-row: 2 / 3;
        }

        @media (max-width: $maxMobWidth) {
            display: block;
            width: 100%;
        }
    }

    &__format {
        max-width: 1408px;
        margin: 0 auto;
        margin-bottom: 120px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            margin-bottom: 80px;
            padding: 0 22px;
        }

        .main-news__list {
            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                display: flex;
                flex-wrap: nowrap;
                justify-content: start;
                max-width: 100%;
                overflow-x: scroll;
                padding: 1px;
                margin-bottom: 80px;
            }
        }

        .main-news__item {
            min-height: 1px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                min-width: 448px;
                max-width: 448px;
            }
        }

        .main-news__name {
            text-transform: uppercase;
        }
    }
}
