.webinar-get {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        padding: 0 22px;
    }

    @media (max-width: $maxTabletWidth) {
        margin-bottom: 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 448px);
        gap: 32px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: flex;
            flex-wrap: nowrap;
            max-width: 100%;
            overflow-x: scroll;
            padding: 1px;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        padding-top: 0;
        border: 1px solid #E9E9E9;
        border-radius: 4px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            width: 448px;
        }

        @media (max-width: $maxMobWidth) {
            position: relative;
            padding: 16px;
            padding-top: 268px;
            gap: 16px;
        }
    }

    &__img {
        position: relative;
        left: -25px;
        border-radius: 4px 4px 0px 0px;

        @media (max-width: $maxMobWidth) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 252px;
            object-fit: cover;
        }
    }

    &__textcontent {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;

        div {
            margin-top: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
        }

        @media (max-width: $maxMobWidth) {
            text-transform: uppercase;
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
    }

    &__btn {
        @media (max-width: $maxMobWidth) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
    }
}
