.webinar-info {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 145px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        max-width: 631px;
        margin: 0;
        margin-bottom: 80px;
        padding: 0 24px;
    }

    @media (max-width: $maxMobWidth) {
        margin-bottom: 80px;
    }

    &__list {
        max-width: 1351px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 50px;
        }

        @media (max-width: $maxMobWidth) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__item {
        display: grid;
        gap: 16px;
        padding-top: 96px;

        &:nth-child(1) {
            background: url('../assets/img/webinar/info1.svg') no-repeat top left;
            background-size: 80px;

            @media (max-width: $maxMobWidth) {
                background-size: 74px;
                background-position: center left;
            }
        }

        &:nth-child(2) {
            background: url('../assets/img/webinar/info2.svg') no-repeat top left;
            background-size: 80px;

            @media (max-width: $maxMobWidth) {
                background-size: 74px;
                background-position: center left;
            }
        }

        &:nth-child(3) {
            background: url('../assets/img/webinar/info3.svg') no-repeat top left;
            background-size: 80px;

            @media (max-width: $maxMobWidth) {
                background-size: 74px;
                background-position: center left;
            }
        }

        &:nth-child(4) {
            background: url('../assets/img/webinar/info4.svg') no-repeat top left;
            background-size: 80px;

            @media (max-width: $maxMobWidth) {
                background-size: 74px;
                background-position: center left;
            }
        }

        @media (max-width: $maxMobWidth) {
            min-height: 74px;
            align-items: start;
            align-content: center;
            gap: 8px;
            padding-top: 0;
            padding-left: 90px;
        }
    }

    &__name {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
        }
    }

    &__descr {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
