.about-us {
    display: flex;
    flex-direction: column;
    max-width: 688px;
    margin: 0 auto;
    margin-bottom: 120px;

    &__descr {
        margin-bottom: 48px;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            margin-bottom: 24px;
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__slider {
        position: relative;
    }

    &__director-img {
        position: absolute;
        top: -52px;
        left: 70px;

        @media (max-width: $maxMobWidth) {
            left: 6px;
        }
    }

    &--director {
        margin-bottom: 140px;

        @media (max-width: $maxTabletWidth) {
            margin-bottom: 80px;
        }

        .slider__btns--company {
            display: none;
        }

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            .slider__btns--company {
                display: flex;
                padding: 0;

                .main-reviews__show-all {
                    width: 203px;
                }
            }
        }

        .about-us__descr {
            margin-bottom: 100px;
        }

        .about-us-slider__decorative {
            @media (max-width: $maxMobWidth) {
                min-height: 372px;
            }
        }
    }

}

.about-us-slider {
    &__decorative {
        position: relative;
        z-index: 2;
        min-height: 372px;
        margin-right: 120px;
        background: #e9e9e9 url('../assets/img/product-rose.svg') no-repeat right -30px bottom;
        background-size: 332px 304px;
        border-radius: 4px;

        img {
            display: block;
        }

        @media (max-width: $maxMobWidth) {
            min-height: 245px;
            margin: 0;
            background-size: 232px 204px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 646px;
        height: 348px;
        margin-left: auto;
        margin-top: -228px;
        padding: 35px 47px;
        background-color: #FFF1F4;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            width: auto;
            height: auto;
            margin: 0;
            margin-left: 24px;
            padding: 16px;
            font-size: 12px;
        }
    }

    &__name {
        margin-bottom: 10px;
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        @media (max-width: $maxMobWidth) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__item {
        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            position: relative;
        }
    }
}
