.products-delivery {
    &__list {
        display: grid;
        gap: 64px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            gap: 40px;
        }

        @media (max-width: $maxMobWidth) {
            gap: 24px;
            padding: 24px 14px;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
        }
    }

    &__item {
        display: grid;
        gap: 16px;
        padding-left: 49px;

        &:nth-child(1) {
            background: url('../assets/img/product/delivery1.svg') no-repeat top left;
        }

        &:nth-child(2) {
            background: url('../assets/img/product/delivery2.svg') no-repeat top left;
        }

        &:nth-child(3) {
            background: url('../assets/img/product/delivery3.svg') no-repeat top left;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        span {
            font-weight: 500;
        }

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
            line-height: 15px;
        }
    }
}
