.products {
    display: flex;
    align-items: flex-start;
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
        position: relative;
        max-width: 744px;
        padding: 0 24px;
    }

    @media (max-width: $maxMobWidth) {
        flex-direction: column;
    }

    &__photos {
        margin-right: 32px;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            margin-right: 8px;
        }
    }

    &__product {
        display: flex;
        gap: 32px;
        margin-right: 24px;
        padding-right: 16px;
        border-right: 1px solid #E9E9E9;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            flex-direction: column;
            border-right: none;
        }

        @media (max-width: $maxMobWidth) {
            flex-direction: column;
            border: none;
            gap: 16px;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 16px;
        }
    }

    &__preview {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-width: 448px;
        padding-bottom: 16px;
        border: 1px solid #E9E9E9;
        border-radius: 4px;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            width: 600px;
            height: 448px;
        }

        @media (max-width: $maxMobWidth) {
            min-width: 344px;
            border: none;
            padding-bottom: 0;
            padding-top: 23px;
        }
    }

    &__label {
        top: 16px;
        left: 16px;
    }

    &__favorite {
        top: 16px;
        right: 16px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;

        .card__slider__pagination {
            position: relative;
            bottom: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        min-width: 465px;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            align-items: flex-start;
            min-width: 348px;
            max-width: 348px;
            margin-left: -94px;
            border-right: 1px solid #E9E9E9;
            padding-right: 11px;
        }

        @media (max-width: $maxMobWidth) {
            min-width: 344px;
        }
    }

    &__row {
        display: flex;
        justify-content: center;

        &:nth-child(1) {
            gap: 40px;
            margin-bottom: 2px;

            @media (max-width: $maxTabletWidth) {
                display: none;
            }
        }

        &:nth-child(2) {
            margin-bottom: 16px;

            @media (max-width: $maxTabletWidth) {
                display: none;
            }
        }

        &:nth-child(3) {
            gap: 24px;
            margin-bottom: 16px;

            @media (max-width: $maxTabletWidth) {
                display: none;
            }
        }

        &:nth-child(4) {
            margin-bottom: 8px;

            @media (max-width: $maxMobWidth) {
                margin-bottom: 13px;
            }
        }

        &:nth-child(5) {
            margin-bottom: 16px;

            @media (max-width: $maxMobWidth) {
                display: none;
            }
        }

        &:nth-child(6) {
            margin-bottom: 24px;

            @media (max-width: $maxMobWidth) {
                margin-bottom: 16px;
            }
        }

        &:nth-child(7) {
            gap: 16px;
            margin-bottom: 24px;

            @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
                display: grid;
                grid-template-columns: 80px 240px;

                .products__buy {
                    grid-column: 2 / -1;
                }

                .products__to-cart {
                    max-width: none;
                    width: 100%;
                }
            }

            @media (max-width: $maxMobWidth) {
                display: grid;
                grid-template-columns: 80px 254px;
                gap: 16px 10px;
                justify-content: center;
                margin-bottom: 16px;
            }
        }

        &:nth-child(8) {
            margin-bottom: 24px;

            @media (max-width: $maxMobWidth) {
                margin-bottom: 16px;
            }
        }
    }

    &__name {
        max-width: 328px;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;

        @media (max-width: $maxTabletWidth) {
            max-width: 100%;
        }

        @media (max-width: $maxMobWidth) {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
        }
    }

    &__code {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #888888;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            margin-right: auto;
        }

        @media (max-width: $maxMobWidth) {
            margin-bottom: 16px;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
        }
    }

    &__rating-count {
        display: flex;
        align-items: center;
        height: 16px;
        padding-left: 24px;
        background: url('../assets/img/product/rating.svg') no-repeat center left;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    &__price {
        margin-bottom: 0;

        @media (max-width: $maxMobWidth) {
            justify-content: center;
        }
    }

    &__sale {
        margin-left: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #F08597;
    }

    &__volume {
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: $maxMobWidth) {
            flex-direction: column;
        }
    }

    &__count {
        display: flex;
        gap: 8px;

        &--basket {
            @media (max-width: $maxMobWidth) {
                position: relative;
                align-items: center;
                grid-column: 2/3;
                padding-left: 16px;

                .products-count__input {
                    width: 32px;
                    height: 24px;
                }

                .products-count__btns {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 64px;
                    flex-direction: row;
                    justify-content: space-between;
                    transform: translateY(-50%);
                }

                .products-count__btn {
                    transform: rotate(0);

                    &--plus {
                        transform: rotate(180deg);
                        order: 2;
                    }
                }
            }
        }
    }

    &__to-cart {
        max-width: 200px;
        margin-bottom: 0;

        @media (max-width: $maxMobWidth) {
            max-width: 100%;
        }
    }

    &__buy {
        grid-column: 1 / -1;
        outline: 1px solid #000000;
        border: none;
        border-radius: 4px;
        padding: 15px;
        font-size: 14px;
        line-height: 17px;
        transition: all .6s, color .3s;

        &:hover {
            color: #fff;
            outline: 0;
            background: #f08597;
            box-shadow: 0 0 50px #ffbcc7;
        }
    }

    &__beautician {
        display: flex;
        align-items: flex-end;
        height: 16px;
        padding-left: 24px;
        background: url('../assets/img/product/question.svg') no-repeat top left;
        border: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
    }

    &__brand,
    &__line,
    &__volume-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    &__full-info {
        max-width: 928px;
        margin: 0 auto;
        margin-bottom: 120px;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            padding: 0 24px;
        }

        @media (max-width: $maxMobWidth) {
            margin-bottom: 80px;
        }
    }

    &__you-like {
        max-width: 1408px;
        margin: 0 auto;
        margin-bottom: 120px;

        @media (max-width: $maxTabletWidth) {
            margin-bottom: 80px;
        }
    }

    &__mob {
        display: none;

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            margin-bottom: -8px;
        }
    }

    &__delivery {
        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            position: absolute;
            bottom: 0;
            right: 8px;
            width: 316px;
        }
    }

    &__tablet {
        display: none;

        @media (max-width: $maxTabletWidth) and (min-width: $minMobWidth) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 707px;
            padding: 0 24px;
            margin: 0 auto;
            margin-bottom: 24px;

            &-wrapper {
                display: grid;
                gap: 16px;
                max-width: 516px;
            }

            &-text {
                display: flex;

                .main-categories__card__rating {
                    margin-right: 24px;
                }
            }
        }
    }
}
