.training {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        padding: 0 24px;
    }

    @media (max-width: $maxTabletWidth) {
        margin-bottom: 80px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 328px 1fr;
        gap: 32px;

        @media (max-width: $maxTabletWidth) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__left-col {
        @media (max-width: $maxTabletWidth) {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            display: none;
            max-width: none;
            padding: 16px;
            padding-top: 73px;
            padding-bottom: 26px;
            background-color: #FFFFFF;
            text-align: center;

            &--active {
                display: block;

                .category__menu-btns {
                    display: flex;
                }
            }
        }
    }

    &__title-wrapper {
        position: relative;

        .category__menu-btn {
            top: 0;
            bottom: auto;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                left: -24px;
            }
        }
    }

    &__categories,
    &__list {
        border-top: 1px solid #E9E9E9;
    }

    &__list {
        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: grid;
            grid-template-columns: 328px 328px;
            column-gap: 32px;
            row-gap: 24px;
            justify-content: center;
        }

        @media (max-width: $maxTabletWidth) and (min-width: 1200px) {
            grid-template-columns: repeat(3, 328px);
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 328px 1fr;
        gap: 32px;
        padding: 16px 0;
        border-bottom: 1px solid #E9E9E9;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .basket__buy {
                padding: 16px 22px;
            }
        }

        @media (max-width: $maxMobWidth) {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 80px;

            .basket__buy {
                position: absolute;
                bottom: 16px;
                width: 100%;
                margin: 0;
                padding: 16px;
            }
        }

        ul,
        li {
            list-style-type: disc;
        }

        ul {
            padding-left: 20px;
        }
    }

    @media (max-width: $maxMobWidth) {
        .results__pagination {
            display: none;
        }
    }

}

.training-categories {
    &__item {
        padding: 16px 0;
        border-bottom: 1px solid #E9E9E9;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        cursor: pointer;
    }
}

.training-item {
    &__left-col {
        display: flex;
        flex-direction: column;
    }

    &__right-col {
        display: grid;
        gap: 16px;
    }

    &__wrapper {
        display: grid;
        gap: 8px;
    }

    &__date {
        width: 100%;
        padding: 12px;
        background: linear-gradient(270deg, #FFF1F4 0%, #F9F9F9 100%);
        border-radius: 4px 4px 0px 0px;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
    }

    &__img {
        margin-bottom: -8px;

        @media (max-width: $maxMobWidth) {
            height: 240px;
            object-fit: cover;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        text-decoration: none;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }

        @media (max-width: $maxMobWidth) {
            font-weight: 500;
            font-size: 14px;
        }
    }

    &__price-city {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
        }
    }
}

.price-city {
    &__wrapper {
        padding: 15px 12px 13px 12px;
        border: 1px solid #E9E9E9;

        &:nth-child(1) {
            border-radius: 4px 0 0 4px;
            border-right: none;
        }

        &:nth-child(2) {
            border-radius: 0 4px 4px 0;
        }
    }

    &__name {
        margin-right: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
    }

    &__value {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
    }
}
