.reviews {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        max-width: 1456px;
        padding: 0 24px;
        margin-bottom: 80px;
    }

    &__title {
        text-align: left;

        @media (max-width: $maxMobWidth) {
            text-align: center;
        }
    }

    &__btn {
        position: absolute;
        top: -3.5px;
        right: 0;
        width: 208px;
        padding: 12px;
        margin: 0;
        color: #000;
        text-decoration: none;

        @media (max-width: $maxMobWidth) {
            display: block;
            top: 100%;
            right: 0;
            left: 0;
            width: 100%;
            padding: 12px;
            margin-top: 24px;
        }
    }

    &-clients {
        &__list {
            display: grid;
            grid-template-columns: 688px 688px;
            gap: 32px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                display: grid;
                grid-template-columns: 696px;
                justify-content: center;
            }

            @media (max-width: $maxTabletWidth) and (min-width: 1456px) {
                grid-template-columns: 688px 688px;
            }

            @media (max-width: $maxMobWidth) {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
            }
        }

        &__item {
            @media (max-width: $maxMobWidth) {
                display: flex;
            }
        }

        &__first-row {
            display: flex;
            margin-bottom: 16px;

            @media (max-width: $maxMobWidth) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;

            @media (max-width: $maxMobWidth) {
                align-items: center;
            }
        }

        &__grade {
            margin-top: 16px;
        }

        &__second-row {
            display: flex;

            @media (max-width: $maxMobWidth) {
                flex-direction: column-reverse;
                align-items: center;
                gap: 16px;
            }
        }

        &__product {
            display: none;
            align-items: center;
            justify-content: center;
            min-width: 184px;
            min-height: 184px;
            margin-right: 24px;
            border: 1px solid #E9E9E9;
            border-radius: 4px;

            &:nth-child(1) {
                display: flex;
            }

            &-wrapper {
                display: flex;
                gap: 24px;
            }

            @media (max-width: $maxMobWidth) {
                display: flex;
                min-width: 74px;
                min-height: 74px;
                margin: 0;
            }
        }
    }

    &-service {
        &__descr {
            display: block;
            margin-bottom: 48px;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;

            @media (max-width: $maxMobWidth) {
                font-size: 12px;
                margin-bottom: 32px;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 160px;
            row-gap: 48px;

            @media (max-width: $maxMobWidth) {
                row-gap: 32px;
                column-gap: 100px;
            }
        }

        &__item {
            display: block;
            min-width: 80px;
            padding-top: 96px;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: #000000;
            text-decoration: none;

            &--otzovik {
                background: url('../assets/img/reviews/otzovik.svg') no-repeat top left;
                background-size: 80px;
            }

            &--irecommend {
                background: url('../assets/img/reviews/irecommend.svg') no-repeat top left;
                background-size: 80px;
            }

            &--yell {
                background: url('../assets/img/reviews/yell.svg') no-repeat top left;
                background-size: 80px;
            }

            &--pro {
                background: url('../assets/img/reviews/pro.svg') no-repeat top left;
                background-size: 80px;
            }

            &--zoon {
                background: url('../assets/img/reviews/zoon.svg') no-repeat top left;
                background-size: 80px;
            }

            @media (max-width: $maxMobWidth) {
                min-width: 74px;
                font-size: 14px;
                line-height: 17px;
                background-size: 74px;
            }
        }
    }
}
