.category {
    &__wrapper {
        display: flex;
        gap: 32px;
        justify-content: center;
    }

    &__left-column {
        max-width: 328px;
    }

    &__right-column {
        max-width: 1048px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px 20px;
        background-color: transparent;
        border: 1px solid #000000;
        border-radius: 4px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        transition: background-color 0.4s, border-color 0.4s, box-shadow 0.4s, color 0.4s;

        svg {
            fill: #000000;
            margin-right: 8px;
            transition: fill 0.4s;
        }

        &--diagnostics {
            svg {
                margin-right: 16px;
            }
        }

        &:hover {
            color: #fff;
            border-color: #f08597;
            background-color: #f08597;
            box-shadow: 0 0 50px #ffbcc7;
            svg {
                fill: #FFFFFF;
            }
        }
    }

    &__filters-form {
        display: grid;
        gap: 17px;
        margin: 24px 0;
    }
}

