.results {
    &__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;

        &__list {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &__btn {
            background-color: transparent;
            border: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            color: #878787;
            cursor: pointer;

            &--active {
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                color: #000000;
                cursor: default;
            }

            &:disabled {
                cursor: default;
            }
        }

        &--faq {
            margin-top: 0;
        }

        @media (max-width: $maxMobWidth) {
            display: none;
        }
    }
}

.category-pagination {
    &__btn {
        width: 24px;
        height: 24px;
        background: url('../assets/img/category/arrow.svg') no-repeat center;
        border: none;
        cursor: pointer;

        &--next {
            transform: rotate(180deg);
        }
    }
}
