.main-brands {
    padding: 0 22px;
    margin-bottom: 120px;

    &__title {
        text-align: center;
    }

    &__content {
        &__list {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 90px;
            max-width: 1350px;
            margin: 0 auto;
        }

        &__item,
        &__img {
            width: 100%;
            height: 100%;
            max-width: 150px;
            max-height: 150px;
        }
    }
}
