.main-brands {
    padding: 0 24px;
    margin-bottom: 120px;

    @media (max-width: $maxTabletWidth) {
        margin-bottom: 80px;
    }

    @media (max-width: $maxMobWidth) {
        padding: 0;
    }

    &__title {
        text-align: center;
    }

    &__content {
        &__list {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 90px;
            max-width: 1350px;
            margin: 0 auto;

            @media (max-width: $maxTabletWidth) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            @media (max-width: $maxMobWidth) {
                overflow-x: scroll;
                overflow-y: hidden;
            }
        }

        &__item,
        &__img {
            min-width: 150px;
            min-height: 150px;
            width: 100%;
            height: 100%;
            max-width: 150px;
            max-height: 150px;
        }
    }
}
