.footer {
    padding: 0 24px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        padding-top: 24px;
    }

    @media (max-width: $maxMobWidth) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        font-size: 12px;
        line-height: 15px;
    }

    &__content {
        display: grid;
        row-gap: 60px;
        max-width: 1370px;
        margin: 0 auto;
        padding-bottom: 49px;

        @media (max-width: $maxMobWidth) {
            max-width: 100%;
            padding-bottom: 81px;
        }
    }

    &__row {
        display: flex;

        &--first {
            align-items: center;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 40px;
            }
        }

        &--second,
        &--third {
            justify-content: space-between;
        }

        &--second {
            @media (max-width: $maxTabletWidth) {
                display: none;
            }
        }

        &--mob {
            display: none;
            max-width: 100%;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                display: flex;

                .footer__tabs-wrapper {
                    display: flex;
                    gap: 40px;
                }

                .footer__tabs-list {
                    flex-direction: column;
                    gap: 24px;
                }

                .footer__title,
                .footer__offer,
                .footer__map {
                    margin: 0;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 140%;
                    color: #888888;
                }

                .footer__tabs--active {
                    font-weight: 600;
                    color: #000000;
                }
            }


            @media (max-width: $maxMobWidth) {
                display: flex;
                flex-direction: column;
            }
        }

        &--third {
            @media (max-width: $maxMobWidth) {
                display: flex;
                flex-direction: column;
                gap: 80px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

    }

    &__main-logo {
        margin-right: 139px;

        @media (max-width: $maxMobWidth) {
            margin: 0 auto;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        margin-right: auto;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-decoration: none;

        &:hover {
            .footer__phone__icon {
                fill: #F08597;
            }
        }

        &__icon {
            fill: #000000;
            margin-right: 17px;
            transition: fill 0.5s;
        }

        @media (max-width: $maxMobWidth) {
            display: none;
        }

        &--mob {
            display: none;
            margin: 0;

            @media (max-width: $maxMobWidth) {
                display: flex;
                margin-bottom: 40px;
            }
        }
    }

    &__email {
        display: flex;
        align-items: center;
        margin-right: 48px;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-decoration: none;

        &__icon {
            fill: #000000;
            margin-right: 24px;
            transition: fill 0.5s;
        }

        &:hover {
            .footer__email__icon {
                fill: #F08597;
            }
        }

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            margin-right: 97px;
            margin-left: auto;
        }

        @media (max-width: $maxMobWidth) {
            display: none;
        }

        &--mob {
            display: none;
            margin: 0;

            @media (max-width: $maxMobWidth) {
                display: flex;
                margin-bottom: 40px;
            }
        }
    }

    &__application {
        margin-right: 24px;
        padding: 16px;
        background: none;
        outline: 1px solid #000000;
        border: none;
        border-radius: 4px;
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.6s, color 0.3s;

        &:hover {
            color: #FFFFFF;
            outline: none;
            background: #F08597;
            box-shadow: 0px 0px 50px #FFBCC7;
        }

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            grid-column: 2 / -1;
            grid-row: 1 / 2;
            width: 177px;
            margin-right: 112px;
            margin-left: auto;
        }

        @media (max-width: $maxMobWidth) {
            display: none;
        }

        &--mob {
            display: none;

            @media (max-width: $maxMobWidth) {
                display: block;
                width: 196px;
                margin: 0;
                text-align: center;
            }
        }
    }

    &__social {
        display: flex;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            position: absolute;
            top: 35px;
            right: 0;
        }

        @media (max-width: $maxMobWidth) {
            display: none;
        }

        &--mob {
            display: none;
            margin-bottom: 48px;

            @media (max-width: $maxMobWidth) {
                display: flex;
            }
        }

        &__link {
            width: 32px;
            height: 32px;

            &--vk {
                background: url('../assets/img/vk-icon.svg') no-repeat center;
                margin-right: 24px;
            }

            &--telegram {
                background: url('../assets/img/telegram-icon.svg') no-repeat center;
            }
        }
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1133px;
    }

    &__list {
        display: grid;
        row-gap: 4px;

        @media (max-width: $maxMobWidth) {
            row-gap: 16px;
        }

        &--catalog {
            width: 100%;
            max-width: 893px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 70px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                row-gap: 11px;
                column-gap: 32px;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;

        &--interesting {
            margin-top: 20px;
        }

        @media (max-width: $maxMobWidth) {
            width: max-content;
            margin: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            color: #888888;
        }
    }

    &__link {
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        text-decoration: none;

        &:hover {
            text-shadow: 0 0 0.7px black;
        }
    }

    &__different {
        display: flex;
        flex-direction: column;
    }

    &__offer,
    &__map {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #000000;
        text-decoration: none;

        @media (max-width: $maxMobWidth) {
            width: max-content;
            margin: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            color: #888888;
        }
    }

    &__offer {
        margin-bottom: 24px;

        @media (max-width: $maxMobWidth) {
            margin: 0;
        }
    }

    &__copyright {
        &--text {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__tabs {
        &-wrapper {
            margin-bottom: 40px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                margin: 0;
            }
        }

        &-header {
            margin-bottom: 16px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                margin: 0;
            }
        }

        &-list {
            display: flex;
            gap: 24px;
            max-width: 95.5vw;

            @media (max-width: $maxMobWidth) {
                overflow-y: scroll;
            }
        }

        &--active {
            font-weight: 500;
            color: #000000;
        }

        &-item {
            display: none;
            max-width: 95.5vw;

            @media (max-width: $maxMobWidth) {
                overflow-y: scroll;
            }

            &--active {
                display: block;
            }
        }
    }

    &__mob-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
