.header {
    width: 100%;
    max-width: 1451px;
    margin: 0 auto;
    padding: 20px 22px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #535353;

    @media (max-width: $maxMobWidth) {
        padding: 16px 8px;
        margin-bottom: 16px;
    }

    @media (max-width: $maxTabletWidth) {
        padding: 14px 24px;
        margin-bottom: 24px;
    }

    &--main {
        margin-bottom: 656px;

        @media (max-width: $maxTabletWidth) {
            margin: 0 auto;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__row {
        display: flex;
        align-items: center;

        &--first {
            justify-content: space-between;
            margin-bottom: 32px;

            #city {
                display: none;
            }

            @media (max-width: $maxTabletWidth) {
                display: none;
            }
        }

        &--third {
            justify-content: space-between;
            margin-top: 32px;

            @media (max-width: $maxTabletWidth) {
                position: absolute;
                top: 16px;
                left: 0;
                z-index: 2;
                display: none;
                width: 100%;
                margin: 0;
                padding: 40px 0;
                border-top: 1px solid #E9E9E9;
                background-color: #FFFFFF;

                &--active {
                    position: relative;
                    z-index: 100;
                    display: block;
                }
            }
        }
    }
}

.first-row {

    &__city-select {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 133px;
        padding: 1px 0;
        padding-left: 24px;
        background: url('../assets/img/address.svg') no-repeat center left;
        background-size: 16px;


        &__selected {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #535353;
            text-decoration: none;
            cursor: pointer;
        }

    }

    &__site-navigation {
        // width: 475px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__schedule {
        padding-left: 24px;
        background: url('../assets/img/clock.svg') no-repeat center left;
        background-size: 16px;
        font-size: 12px;
        line-height: 15px;
    }

    &__personal-area {
        display: block;
        padding-left: 24px;
        background: url('../assets/img/user.svg') no-repeat center left;
        background-size: 16px;
        color: #535353;
        text-decoration: none;
    }
}

.site-navigation {

    &__item:not(:last-child) {
        margin-right: 16px;
    }

    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        color: #535353;
        text-decoration: none;

        &:hover {
            font-weight: 700;
        }
    }
}

.second-row {
    &__main-link {
        position: relative;
        margin-right: 47px;

        @media (max-width: $maxTabletWidth) {
            margin-right: auto;
        }

        &::after {
            position: absolute;
            top: 1px;
            right: -24px;
            width: 1px;
            height: 40px;
            background-color: #E9E9E9;
            cursor: default;
            content: "";

            @media (max-width: $maxTabletWidth) {
                content: none;
            }
        }
    }

    &__burger-btn {
        display: none;

        @media (max-width: $maxTabletWidth) {
            position: relative;
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 24px;
            border: none;
            background-color: transparent;

            span {
                position: absolute;
                left: 3px;
                display: block;
                width: 18px;
                height: 2px;
                opacity: 1;
                background-color: #000000;
                transform: rotate(0deg);
                transition: transform 0.4s, opacity 0.4s, top 0.2s;

                &:nth-child(1) {
                    top: 6px;
                }

                &:nth-child(2) {
                    top: 11px;
                }

                &:nth-child(3) {
                    top: 16px;
                }
            }

            &--active {
                span {
                    &:nth-child(1) {
                        top: 45%;
                        transform: rotate(-45deg);
                    }

                    &:nth-child(2) {
                        top: 45%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        opacity: 0;
                        top: 45%;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        @media (max-width: $maxMobWidth) {
            margin-right: 16px;
        }
    }

    &__address {
        max-width: 213px;
        margin-right: 41px;

        @media (max-width: $maxTabletWidth) {
            display: none;
        }
    }

    &__search {
        flex-grow: 1;
        max-width: 620px;
        padding: 4px 30px 12px 2px;
        border: none;
        border-bottom: 1px solid #E9E9E9;
        background: url('../assets/img/search.svg') no-repeat center right;
        background-size: 24px;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 15px;

        &:focus-visible {
            outline: none;
        }

        @media (max-width: $maxMobWidth) {
            &::placeholder {
                color: transparent;
            }

            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            flex-grow: 0;
        }

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: none;
        }

        &-wrapper {
            position: relative;
            flex-grow: 1;
            display: flex;
            max-width: 620px;
            margin-right: 16px;

            @media (max-width: $maxMobWidth) {
                flex-grow: 0;
                margin-right: 0;
            }
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 208px;

        @media (max-width: $maxMobWidth) {
            display: none;
        }
    }
}

.contacts {
    &__phone {
        position: relative;
        padding: 11.5px 0;

        &--link {
            padding: 11.5px 13.5px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            text-decoration: none;
            white-space: nowrap;
        }

        &--btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: none;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: #F08597;
            border-radius: 4px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.4s background-color;

            &:hover {
                background-color: #000000;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        max-width: 40px;

        @media (max-width: $maxMobWidth) {
            display: none;
        }
    }

    &__link {
        width: 16px;
        height: 16px;
        background-size: 16px;

        &--telegram {
            background: url('../assets/img/telegram_ico.svg') no-repeat center;
        }

        &--whatsapp {
            background: url('../assets/img/whatsapp_ico.svg') no-repeat center;
        }
    }
}

.third-row {
    &__products-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 100;
        max-width: 1184px;
        margin-right: 15px;

        @media (max-width: $maxTabletWidth) {
            display: grid;
            gap: 40px;
            justify-content: center;
            margin: 0 auto;
        }

        &--tablet {
            display: none;
            margin-top: 40px;
            padding-top: 40px;
            border-top: 1px solid #E9E9E9;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                display: grid;
            }
        }
    }

    &__user-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        max-width: 72px;

        @media (max-width: $maxTabletWidth) {
            display: none;
        }
    }
}

.products-navigation {
    &__item {
        @media (max-width: $maxTabletWidth) {
            text-align: center;
        }
    }

    &__link {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #878787;
        text-transform: uppercase;
        text-decoration: none;
        transition: filter 0.4s, color 0.4s;

        &:hover {
            color: #000000;
            filter: drop-shadow(0px 0px 16px rgba(240, 133, 151, 0.8));
        }
    }
}

.user-navigation {
    &__link {
        display: block;
        width: 24px;
        height: 24px;
        background-size: 24px;

        &--favorite {
            background: url('../assets/img/heart.svg') no-repeat center;
        }

        &--cart {
            background: url('../assets/img/cart.svg') no-repeat center;
        }
    }
}
