.main-catalog {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    padding: 0 22px;

    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        margin-bottom: 80px;
    }

    @media (max-width: $maxMobWidth) {
        padding: 0;
        margin-bottom: 80px;
    }

    &__title {
        margin-bottom: 40px;

        @media (max-width: $maxTabletWidth) {
            margin-bottom: 32px;
        }

        @media (max-width: $maxMobWidth) {
            margin-bottom: 24px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px 32px;
        width: 100%;
        max-width: 1408px;
        margin: 0 auto;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            display: grid;
            grid-template-columns: repeat(2, 328px);
            gap: 32px;
            justify-content: center;
        }

        @media (max-width: $maxTabletWidth) and (min-width: 1096px) {
            grid-template-columns: repeat(3, 328px);
        }

        @media (max-width: $maxTabletWidth) and (min-width: 1456px) {
            grid-template-columns: repeat(4, 328px);
        }

        @media (max-width: $maxMobWidth) {
            display: grid;
            grid-template-columns: repeat(2, 164px);
            justify-content: center;
            gap: 16px;
        }

        @media (max-width: $maxMobWidth) and (min-width: 572px) {
            grid-template-columns: repeat(3, 164px);
        }
    }

    &__item {
        &:nth-child(1) {
            img {
                width: 88px;
                height: 200px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 101px;
                    height: 230px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 44px;
                    height: 100px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 44px;
                        height: 100px;
                    }
                }
            }
        }

        &:nth-child(2) {
            img {
                width: 55px;
                height: 132px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 64px;
                    height: 154px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 28px;
                    height: 66px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 28px;
                        height: 66px;
                    }
                }
            }
        }

        &:nth-child(3) {
            img {
                width: 33px;
                height: 156px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 36px;
                    height: 170px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 17px;
                    height: 78px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 17px;
                        height: 78px;
                    }
                }
            }
        }

        &:nth-child(4) {
            img {
                width: 120px;
                height: 92px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 147px;
                    height: 113px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 60px;
                    height: 46px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 60px;
                        height: 46px;
                    }
                }
            }
        }

        &:nth-child(5) {
            img {
                width: 112px;
                height: 98px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 132px;
                    height: 115px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 56px;
                    height: 49px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 56px;
                        height: 49px;
                    }
                }
            }
        }

        &:nth-child(6) {
            img {
                width: 81px;
                height: 205px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 90px;
                    height: 228px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 40px;
                    height: 102px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 40px;
                        height: 102px;
                    }
                }
            }
        }

        &:nth-child(7) {
            img {
                width: 33px;
                height: 209px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 38px;
                    height: 240px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 17px;
                    height: 105px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 17px;
                        height: 105px;
                    }
                }
            }
        }

        &:nth-child(8) {
            img {
                width: 78px;
                height: 200px;
            }

            .main-catalog__preview:hover {
                img {
                    width: 88px;
                    height: 226px;
                }
            }

            @media (max-width: $maxMobWidth) {
                img {
                    width: 39px;
                    height: 100px;
                }

                .main-catalog__preview:hover {
                    img {
                        width: 39px;
                        height: 100px;
                    }
                }
            }
        }

    }

    &__preview {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 300px;
        margin-bottom: 24px;
        padding-bottom: 39px;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        cursor: pointer;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: #FFD9DF;
            border-radius: 4px;
            transition: height 0.3s, linear 0.3s;
            content: "";
        }

        &:hover {
            &::after {
                height: 100%;
                background: linear-gradient(270deg, #FFF1F4 0%, #F9F9F9 100%);
            }
        }

        @media (max-width: $maxTabletWidth) {
            width: 328px;
            height: 300px;
        }

        @media (max-width: $maxMobWidth) {
            width: 164px;
            height: 150px;
            margin-bottom: 8px;
            padding-bottom: 20px;
        }
    }

    &__img {
        position: relative;
        z-index: 2;
        display: block;
        margin: 0 auto;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }

    &__name {
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: #000000;
        }

        @media (max-width: $maxMobWidth) {
            max-width: 164px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    }
}
