.main-slider {
    position: relative;
    height: 616px;
    margin-bottom: 40px;
    padding: 176px 22px 0 0;

    &__btns {
        position: absolute;
        top: 60px;
        left: 247px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
    }

    &__btn {
        width: 80px;
        height: 40px;
        background-size: 80px 40px;
        border: none;
        cursor: pointer;

        &--prev {
            background: url('../assets/img/arrow-prev.svg') no-repeat center;
        }

        &--next {
            background: url('../assets/img/arrow-next.svg') no-repeat center;
        }
    }

    &__product {
        display: flex;
        height: 380px;
    }
}

.product {

    &__info {
        display: flex;
        max-width: 1174px;

        padding: 50px 0 162px 16%;
        background-color: #FFF1F4;
    }

    &__name {
        max-width: 365px;
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 48px;
        margin-bottom: 50px;
        padding-right: 45px;
    }

    &__more {
        display: flex;
        align-items: center;
        max-width: 140px;
        padding: 16px 22.5px;
        border: none;
        outline: 1px solid #000000;
        border-radius: 4px;
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.6s, color 0.4s;

        &:hover {
            color: #FFFFFF;
            outline: none;
            background: #F08597;
            box-shadow: 0px 0px 50px #FFBCC7;
        }
    }

    &__img--preview {
        position: relative;
        top: 34px;
        left: -42px;
        z-index: 10;
    }

    &__img--decorative {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 96.2%;
        max-width: 867px;
        height: auto;
    }

    &__decorative-block {
        position: relative;
        margin-left: -173px;
        top: -116px;
        align-self: flex-start;
        flex-grow: 1;
        max-width: 901px;
        height: 556px;
        border-radius: 4px;
        background: #E9E9E9 url('../assets/img/product-rose.svg') no-repeat bottom right;
    }
}

.pagination {
    &__list {
        position: absolute;
        top: 574px;
        left: 862px;
        display: flex;
        justify-content: space-between;
        width: 196px;
    }

    &__btn {
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50%;
        background: #FFFFFF;
        cursor: pointer;

        &--current {
            width: 18px;
            height: 18px;
            background: #F08597;
        }
    }
}
