.main-textblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    max-width: 1452px;
    padding: 0 24px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-weight: 300;
    line-height: 17px;

    @media (max-width: $maxTabletWidth) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 80px;
    }

    @media (max-width: $maxMobWidth) {
        padding: 0;
        font-size: 12px;
        line-height: 15px;
    }
}
