.delivery {
    @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        width: 100%;
    }

    @media (max-width: $maxMobWidth) {
        margin-top: -28px;
    }

    &__list {
        display: grid;
        gap: 16px;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            justify-items: center;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
        }
    }

    &__item {
        width: 1035px;
        padding-bottom: 16px;
        border-bottom: 1px solid #E9E9E9;
        font-weight: 300;
        font-size: 12px;
        line-height: 140%;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            width: 100%;
            width: 672px;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            padding-bottom: 8px;
        }

        &--header {
            padding-bottom: 8px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;

            @media (max-width: $maxMobWidth) {
                display: none;
            }

            // .delivery__num {
            //     margin-right: 71px;

            //     @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            //         margin-right: 31px;
            //     }
            // }

            .delivery__date {
                // margin-right: 125px;

                // @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                //     margin-right: 55px;
                // }

                @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                    max-width: 70px;
                }
            }

            // .delivery__status {
            //     margin-right: 184px;

            //     @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            //         margin-right: 79px;
            //     }
            // }

            // .delivery__price {
            //     margin-right: 104px;

            //     @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            //         margin-right: 57px;
            //     }
            // }

            .delivery__content {
                padding: 16px 12px;
                gap: 16px;
            }
        }

        .delivery__content {
            display: none;
        }

        &--opened {
            position: relative;
            left: -14px;
            width: 1060px;
            margin-top: -17px;
            padding: 0;
            border: none;
            outline: 2px solid #F08597;
            border-radius: 8px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                left: 0;
                width: 696px;
            }

            .delivery__content {
                display: grid;

                @media (max-width: $maxMobWidth) {
                    padding: 0;
                }
            }

            .delivery__wrapper {
                padding: 16px 12px;
                background: linear-gradient(270deg, #FFF1F4 0%, #F9F9F9 100%);
                border-radius: 8px;

                @media (max-width: $maxMobWidth) {
                    background: transparent;
                    padding: 8px 0;
                }
            }

            @media (max-width: $maxMobWidth) {
                left: 0;
                gap: 0;
                margin: 0;
                width: 100%;
                margin-top: -9px;
                outline: none;
                border-top: 3px solid #F08597;
                border-bottom: 3px solid #F08597;
                border-radius: 0%;
            }
        }


    }

    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 4.7fr;
        align-items: center;

        @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
            align-items: flex-start;
        }

        @media (max-width: $maxMobWidth) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 9px;
            width: 100%;
            padding: 8px 0;

            span {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: baseline;
                width: 100%;
                margin: 0;
            }
        }
    }

    &__num {
        // margin-right: 82px;

        // @media (max-width: $maxTabletWidth) {
        //     margin-right: 42px;
        // }

        @media (max-width: $maxMobWidth) {

            &::before {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                content: "№ заказа";
            }
        }
    }

    &__date {
        // margin-right: 167px;

        // @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
        //     margin-right: 61px;
        //     max-width: 70px;
        // }

        @media (max-width: $maxMobWidth) {
            &::before {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                content: "Дата и время заказа";
            }
        }
    }

    &__status {
        // margin-right: 177px;

        // @media (max-width: $maxTabletWidth) {
        //     margin-right: 72px;
        // }

        @media (max-width: $maxMobWidth) {

            &::before {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                content: "Статус";
            }
        }
    }

    &__price {
        // margin-right: 118px;

        // @media (max-width: $maxTabletWidth) {
        //     margin-right: 60px;
        // }

        @media (max-width: $maxMobWidth) {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            &::before {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                content: "Сумма, ₽";
            }
        }
    }

    &__payment {
        @media (max-width: $maxMobWidth) {
            &::before {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                content: "Способ оплаты";
            }
        }
    }

    &__content {
        padding: 16px 12px;
        gap: 16px;
    }

    &-content {
        &__first-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 16px;
            padding-right: 90px;
            border-bottom: 1px solid #E9E9E9;

            @media (max-width: $maxMobWidth) {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                padding: 0;
                padding-bottom: 16px;
            }
        }

        &__time,
        &__track {
            display: flex;
            align-items: center;
            gap: 16px;

            @media (max-width: $maxMobWidth) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: baseline;
                gap: 0;
                width: 100%;
            }
        }

        &__time {
            @media (max-width: $maxMobWidth) {
                span {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }

        &__track {
            p {
                font-size: 12px;
                line-height: 15px;
                color: #FF0000;
            }

            @media (max-width: $maxMobWidth) {
                span {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                }

                p {
                    font-weight: 700;
                }
            }
        }

        &__product {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #E9E9E9;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                display: grid;
                grid-template-columns: 88px 288px 56px 36px 20px 70px;
                gap: 16px;
            }

            @media (max-width: $maxMobWidth) {
                display: grid;
                align-items: flex-start;
                grid-template-columns: 74px 1fr;
                column-gap: 16px;
                row-gap: 6px;
            }

            .basket__img {
                margin-right: 16px;

                @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                    margin: 0;
                }

                @media (max-width: $maxMobWidth) {
                    grid-row: 1 / 4;
                }
            }
        }

        &__info {
            display: grid;
            grid-template-columns: 208px 265px;
            gap: 154px;
            align-items: start;

            @media (max-width: $maxMobWidth) {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 0;
                padding-top: 16px;
                padding-bottom: 60px;
            }
        }
    }

    &-product {
        &__info {
            display: grid;
            gap: 16px;
            max-width: 288px;
            margin-right: 88px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                grid-row: 1 / 3;
                grid-column: 2 / 3;
                margin: 0;
            }

            @media (max-width: $maxMobWidth) {
                gap: 8px;
                max-width: 100%;
                width: 100%;
                grid-column: 2 / -1;
                grid-row: 1 / 3;
                margin: 0;
            }
        }

        &__vendor {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }

        &__count {
            margin-right: 62px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
                margin: 0;
            }

            @media (max-width: $maxMobWidth) {
                display: none;
            }
        }

        &__price {
            margin-right: 104px;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                grid-row: 1 / 2;
                grid-column: 6 / 7;
                margin: 0;
            }

            @media (max-width: $maxMobWidth) {
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            min-height: 24px;
            padding-left: 32px;
            border: none;
            background: url('../assets/img/personal-area/review.svg') no-repeat center left;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            cursor: pointer;

            @media (max-width: $maxTabletWidth) and (min-width: $minTabletWidth) {
                grid-row: 2 / 3;
                grid-column: 4 / 7;
                margin: 0;
            }

            @media (max-width: $maxMobWidth) {
                grid-column: 1 / -1;
                justify-content: center;
                margin-top: 30px;
                padding: 8px;
                border: 2px solid #000000;
                border-radius: 2px;
                background-image: none;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;

                span {
                    display: flex;
                    align-items: center;
                    min-height: 24px;
                    padding-left: 32px;
                    background: url('../assets/img/personal-area/review.svg') no-repeat center left;
                }
            }
        }
    }

    &-info {
        &__left-column {
            display: grid;
            gap: 8px;

            span {
                font-size: 12px;
                line-height: 15px;
                color: #FF0000;
            }

            div {
                display: flex;
                align-items: baseline;
                font-weight: 400;
                font-size: 12px;
                line-height: 160%;
            }

            @media (max-width: $maxMobWidth) {
                width: 100%;

                p {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                }

                div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: baseline;
                }
            }
        }

        &__right-column {
            display: grid;
            gap: 8px;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            p {
                font-weight: 500;
            }

            @media (max-width: $maxMobWidth) {
                position: absolute;
                top: -8px;
                bottom: 0;
                display: flex;
                flex-direction: column;
                gap: 0;
                width: 100%;

                span {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                }

                div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: baseline;
                    width: 100%;

                    &:nth-child(1) {
                        margin-bottom: 139px;

                        span {
                            // margin-right: 58px;
                        }
                    }

                    &:nth-child(2) {
                        margin-bottom: 13px;

                        span {
                            // margin-right: 69px;
                        }
                    }

                    &:nth-child(3) {
                        span {
                            // margin-right: 126px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            text-transform: uppercase;
                        }

                        p {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}

.orders {
    @media (max-width: $maxMobWidth) {
        margin-top: -28px;
    }
}
