.site-map {
    max-width: 1408px;
    margin: 0 auto;
    margin-bottom: 120px;

    @media (max-width: $maxMobWidth) {
        margin-bottom: 80px;
    }

    &__title {
        margin-bottom: 40px;

        @media (max-width: $maxMobWidth) {
            margin-bottom: 24px;
        }
    }

    &__content {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 80px;
        row-gap: 64px;

        @media (max-width: $maxMobWidth) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 24px;
        }
    }

    &__wrapper {
        display: grid;
        gap: 24px;

        @media (max-width: $maxMobWidth) {
            gap: 8px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;

        @media (max-width: $maxMobWidth) {
            font-size: 12px;
        }
    }

    &__list {
        display: grid;
        gap: 16px;

        @media (max-width: $maxMobWidth) {
            gap: 8px;
        }
    }

    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        color: #000000;
        text-decoration: none;

        &:hover {
            font-weight: 700;
        }

        @media (max-width: $maxMobWidth) {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    }
}
